include ../date-dropdown/date-dropdown_double-range.pug
include ../dropdown-input/dropdown-input.pug

form.form(action="#" name="search-room" id="search-room")
  p.title Найдём номера под ваши пожелания
  fieldset.form__inner
    +input-date_double-range(
      {
        form:"search-room",
        classlabel: "label-cta",
        firstfield:{
          name:"arrival",
          id: "first-field-range-date",
          txtlabel: "прибытие",
        },
        secondfield:{
          name:"departure",
          id: "second-field-range-date",
          txtlabel: "выезд",
        }
      }
    )
  fieldset.form__inner.form__inner_search-room
    +dropdown-input(
      "гости",
      "Сколько гостей",
      {
        adult: "взрослые",
        child: "дети",
        minichild: "младенцы"
      },
      ['очистить', 'применить']
    )
  <button class="button button_fill button_pointer" type="submit">подобрать номер</button>