.ui-kit__color-description {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.color-example {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  border-radius: 6px;
}

.ui-kit__hex {
  @extend .sub-title;
  font-weight: normal;
}

.u-k__ {
  &title-color {
    background: $title-color;
  }
  &text-color {
    background: $text-color;
  }
  &dark_shade_50 {
    background: $dark_shade_50;
  }
  &dark_shade_25 {
    background: $dark_shade_25;
  }
  &dark_shade_05 {
    background: $dark_shade_05;
  }
  &main-color {
    background: $main-color;
  }
  &second-color {
    background: $second-color;
  }
}