include dropdown__list/dropdown__list.pug

mixin dropdown-input(listitem, button)
  div.dropdown-input
    .dropdown__count-total
      p.dropdown__count-txt
      label(for="dropdown-triger")
      
    +dropdown-list(listitem, button)


//- +dropdown-input(
//-   {
//-     adult: "Взрослые",
//-     child: "Дети"
//-   },
//-   ['очистить', 'применить']
//- )