include __button/dropdown-input__button.pug
include __item/dropdown-input__item.pug
include ../expand-triger/expand-triger.pug

mixin dropdown-input(label, placeholder, listitem, button)
  span.label-cta= label
  div.dropdown-input
    .dropdown-input__field
      span.dropdown-input__field-text= placeholder
      span.dropdown-input__field-char
    .dropdown-input__item-list
      +dropdown-input__item(listitem)
      +dropdown-input__button(button)

//- +dropdown-input(
//-   "label text",
//-   "placeholder",
//-   {
//-     bedroom: "спальни",
//-     bed: "кровати",
//-     bathroom: "ванные комнать",
//-   },
//-   []
//- )