include __item/dropdown-input__item.pug
include ../expand-triger/expand-triger.pug

mixin dropdown-input(label, placeholder, listitem, hasButton, inputName)
  span.label-cta= label
  div.dropdown-input(data-dnd-input-name = inputName)
    .dropdown-input__field
      span.dropdown-input__field-text= placeholder
      span.dropdown-input__field-char
    .dropdown-input__item-list
      +dropdown-input__item(listitem)
      if (hasButton)
        .dropdown-input__button-block
          button.dropdown-input__button(data-type='clear') очистить
          button.dropdown-input__button(data-type='accept') применить

//- +dropdown-input(
//-   "label text",
//-   "placeholder",
//-   {
//-     bedroom: "спальни",
//-     bed: "кровати",
//-     bathroom: "ванные комнать",
//-   },
//-   true
//- )