include ../button/button_border.pug
mixin user-login(userName, login, register)
  if(userName)
    .user-logged= userName
  else
    .header__login-button
      a(href='#')
        +button_border('login')
      a(href='#').button.button_fill= register

//- +user-login('Cosmin Negoita', 'login', 'register')