include ../button/button_border.pug
mixin user-login(userName, login, register)
  .user-login
    if(userName)
      .user-login__loged= userName
    else
      .user-login__button-block
        .user-login__first-button
          a(href='#')
            +button_border('login')
        a(href='#').button.button_fill= register

//- +user-login('Cosmin Negoita')