.header__login-button .button:nth-child(1) {
  margin-right: 20px;
}

.header__login-button .button_fill, .button__txt {
  padding: 9px 20px;
}

.user-logged {
  padding-left: 30px;
  border-left: 1px solid $dark_shade_25;
  color: $dark_shade_50;
}