.filter-responsive-triger {
  display: none;
}

@media (max-width: 960px) {
  .filter-responsive-triger {
    display: block;
    text-align: center;

    &_text {
      padding: 0 5px;
    }

    &_char {
      display: inline-block;
      border-bottom: 2px solid gray;
      border-right: 2px solid gray;
      margin-bottom: 3px;
      width: 7px;
      height: 7px;
      transform: rotate(45deg);

      &-down {
        transform: rotate(-135deg);
        margin: 0;
      }
    }
  }
}