.subscribe {
  position: relative;

  &__input {
    padding-right: 40px;
    overflow: hidden;
  }

  &__button {
    padding: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    top: calc(50% - 12px);
    border: none;
    background: transparent;
    cursor: pointer;

    &:after{
      content: '';
      display: block;
      width: 16px;
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      border-top: 2px solid $main_color;
    }
    
    &:before{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: calc(50% - 6px);
      right: 0;
      border-top: 2px solid $main_color;
      border-right: 2px solid $main_color;
      transform: rotate(45deg);
    }
  }
}