mixin subscribe-form(options)
  form(action= options.action name= options.formName  class="subscribe")
    input(type="text" name= options.inputName class="subscribe__input input" placeholder="Email")
    button(type="submit" class="subscribe__button")



//- +subscribe-form (
//-   {
//-     action: '#',
//-     formName:"'subscribe'",
//-     inputName:'email'
//-   }
//- )