.dropdown-checkbox {
  position: relative;
  
  & .expand-triger__label_check {
    @extend .label-cta;
  }

  & .expand-triger:checked ~ .expand-triger__label_check:after {
    transform: rotate(-135deg);
  }

  & .expand-triger:checked ~ .dropdown-checkbox__list {
    display: block;
  }

  & .dropdown-checkbox__list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
  }
  
  & .dropdown-checkbox__list-item {
    margin-top: 10px;
  }
}

