include ../expand-triger/expand-triger.pug
include ../checkbox/checkbox.pug

mixin dropdown-checkbox(trigerClass, trigerId, trigerTxt, item)
  .dropdown-checkbox
    +expand-triger(trigerClass, trigerId, trigerTxt)
    .dropdown-checkbox__list
      - let i = 1
      each label, name in item
        +checkbox(
          {
            name: name,
            value: name,
            id: trigerId + i++,
            class: "",
            checked: 0,
          },
          {
          txt: label,
          class: "dropdown-checkbox__list-item"
          }
        )



//- +dropdown-checkbox(
//-   'check||burger||pointer',
//-   'unique-triger-id',
//-   'triger txt',
//-   {
//-     item1: "description item1",
//-     item2: "description item2"
//-   }
//- )