.checkbox__label {
  display: block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  line-height: 18px;
}

.checkbox__label:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $dark_shade_25;
  border-radius: 4px;
  z-index: 10;
}

.checkbox:checked + .checkbox__label:before {
  border-color: $main-color;
}