mixin dropdown-input__button(button)
  .dropdown-input__button-block
    each val in button
      button.dropdown-input__button= val


//- +dropdown-input__button(
//-   ['очистить', 'применить']
//- )