mixin rate-button(rateVal)
  .rate-button
    - let i = 0;
    while i < 5
      - let fill = (i < rateVal) ? "_fill" : '';
      div(class=`rate-button__star${fill}`)
      - i += 1


//- + rate-button(3)