.form-book-room__header {
  display: flex;
  align-items: flex-end;
}

.form-book-room__price {
  margin-left: auto;
}

.form-book-room__class-room {
  @extend .label-cta;
  padding-left: 1em;
  line-height: 24px;
  color: $main-color;
}

.form-book-room__details-item {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.form-book-room__details-description {
  flex-basis: 215px;
}

.form-book-room__details-info {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  border: 1px solid $dark_shade_25;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  color: $dark_shade_25;
}

.form-book-room__details-price {
  margin-left: auto;
}

.form-book-room__final-price {
  display: flex;
}

.form-book-room__final-price-line {
  flex-grow: 1;
  margin: 5px;
  border-bottom: 1px dotted $main-color;
}