.main-ui {
  width: 1440px;
}

.section-vertical {
  width: 320px;
}

.ui-section-inner_m{
  margin-bottom: 20px;
}

.ui-element-condition {
  float: right;
}

.input__ui-active {
  border-color: $dark_shade_050;
  color: $dark_shade_075;
}