include ../menu/menu.pug
include ../subscribe/subscribe.pug

footer.footer
  .footer__content
    .logo
      include ../logo/logo.pug
    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
  .footer__menu
    +menu("navigation", {"About Us":"#", "News":"#", "Support":"#", "Products":"#"})
    +menu("about us", {"Who we are":"#", "Our team":"#", "Careers":"#", "Investors":"#"})
    +menu("support", {"Documentation":"#", "Community":"#", "Get in Touch":"#"})
  .footer__content
    h3.label-cta Subscribe to our newsletter
    p Receive our latest news and 
      |promotions in your inbox!
    +subscribe-form (
      {
        action: '#',
        formName:"'subscribe'",
        inputName:'email'
      }
    )