.input {
  width: 320px;
  height: 44px;
  padding-left: 15px;
  box-sizing: border-box;
  font: normal 14px/24px Montserrat, Serif;
  border: 1px solid $dark_shade_025;
  border-radius: 4px;
    &:hover, &:active {
    border-color: $dark_shade_050;
  }
  &_size-m {
    width: 266px;
  }
  &_size-s {
    width: 150px;
  }
}