input {
  width: 320px;
  height: 44px;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid $dark_shade_025;
  border-radius: 4px;
  &:hover, &:active, .active {
    border-color: $dark_shade_050;
  }
}