doctype html
html(lang="ru")
  head
    include ../blocks/head/head.pug
    title Cards
  body.page
    include ../blocks/ui-kit/__header/ui-kit__header.pug
    main.ui-kit
      section(style="max-width:380px")
        include ../blocks/form-search-room/form-search-room.pug
        div(style="height:40px")
        include ../blocks/form-join/form-join.pug
      section(style="max-width:380px")
        
        div(style="height:40px")
        include ../blocks/form-login/form-login.pug