doctype html
html(lang="ru")
  head
    include ../blocks/head/head.pug
    title Cards
  body.page
    include ../blocks/ui-kit/__header/ui-kit__header.pug
    main.ui-kit
      section.ui-kit__section-vertical
      include ../blocks/form-search-room/form-search-room.pug