doctype html
html(lang="ru")
  head
    include ../blocks/head/head.pug
    title Colors & types
  body.page
    include ../blocks/ui-kit/__header/ui-kit__header.pug
    include ../blocks/ui-kit/__color/ui-kit__color.pug
    main.ui-kit
      div
        +color(
          {
            'Dark Shade 100%': {
              variable: 'title-color',
              hex:'#1F2041'
            },
            'Dark Shade 75%': {
              variable: 'text-color',
              hex:'#1F2041'
            },
            'Dark Shade 50%': {
              variable: 'dark_shade_50',
              hex:'#1F2041'
            },
            'Dark Shade 25%': {
              variable: 'dark_shade_25',
              hex:'#1F2041'
            },
            'Dark Shade 05%': {
              variable: 'dark_shade_05',
              hex:'#1F2041'
            },
            'Purple': {
              variable: 'main-color',
              hex:'#BC9CFF'
            },
            'Green': {
              variable: 'second-color',
              hex:'#6FCF97'
            },
          }
        )
      div
        div.ui-kit__type
          h1 H1
          div.title This one is the sub-section or widget title
        div.ui-kit__type
          h2 H2
          div.sub-title Next one is the item title inside widgets
        div.ui-kit__type
          h3 H3
          div.label-cta This is a label or CTA text
        div.ui-kit__type
          p Body
          div This is the body text which is used for most
            | of the design, like paragraphs, lists, etc.