doctype html
html(lang="ru")
  head
    include ../blocks/head/head.pug
    //- link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
    title Colors & types
  body.page
    main.ui-kit
      div
        div H1
        div.title This one is the sub-section or widget title
      div
        h2 H2
        div Next one is the item title inside widgets
      div
        h3 H3
        div This is a label or CTA text
      div
        p Body
        div This is the body text which is used for most
          | of the design, like paragraphs, lists, etc.