extends ../layout/page-layout.pug

block content
  .landing
    include ../blocks/form-search-room/form-search-room.pug
    p.landing__text
      |Лучшие номера для вашей работы, 
      br
      |отдыха и просто вдохновения