doctype html
html(lang="ru")
  head
    include ../blocks/head/head.pug
    title ui form element
  body.page
    include ../blocks/ui-kit/ui-kit__header/ui-kit__header.pug
    include ../blocks/input/input.pug
    include ../blocks/dropdown-input/dropdown-input.pug
    main.main-ui
      section.section-vertical
        div.ui-section-inner_m
          span.ui-element-condition default
          +input({type: "text", id: "email", txtlabel: "text field"})(placeholder="Email")
        div.ui-section-inner_m
          span.ui-element-condition hover/active
          +input({type: "text", id: "active-field", txtlabel: "text field"})(class="input__ui-active" placeholder="This is pretty awesome")
        div.ui-section-inner_m
          span.ui-element-condition default
          +dropdown-input(
            {
              adult: "Взрослые",
              child: "Дети"
            },
            ['очистить', 'применить']
          )
      section.section-vertical
      section.section-vertical

      section.section-vertical
      section.section-vertical
      section.section-vertical

      section.section-horizont