doctype html
html(lang="ru")
  head
    include ../blocks/head/head.pug
    title ui form element
  body.page
    include ../blocks/ui-kit/__header/ui-kit__header.pug
    include ../blocks/input/input.pug
    include ../blocks/dropdown-input/dropdown-input.pug
    include ../blocks/checkbox/checkbox.pug
    main.ui-kit
      section.ui-kit__section-vertical
        div.ui-kit__section-inner_m 
          span.ui-kit__elemlnt-condition default
          +input(
            {
              type: "text",
              name:"",
              form:"",
              id: "email",
              txtlabel: "text field",
              classlabel: "input__label",
              classinput: "input",
              placeholder: "Email",
            }
          )
        div.ui-kit__section-inner_m 
          span.ui-kit__elemlnt-condition hover/active
          +input(
            {
              type: "text",
              name:"",
              form:"",
              id: "active-field",
              txtlabel: "text field",
              classlabel: "input__label",
              classinput: "input ui-kit__input-active",
              placeholder: "This is pretty awesome",
            }
          )
        div.ui-kit__section-inner_m 
          span.ui-kit__elemlnt-condition default
          +dropdown-input(
            "dropdown",
            {
              adult: "взрослые",
              child: "дети",
              minichild: "младенцы",
            },
            ['очистить', 'применить'],
            'check',
            'Сколько гостей'
          )
      section.ui-kit__section-vertical
        div.ui-kit__section-inner_m 
          +checkbox(
            {
              name: "cbbox",
              value: "smoke",
              id: "opt-smoke",
              class: "",
              checked: 0,
            },
            {
            txt: "Можно курить",
            class: ""
            }
          )
        div.ui-kit__section-inner_m 
          +checkbox(
            {
              name: "cbbox",
              value: "pet",
              id: "opt-pet",
              class: "",
              checked: 1,
            },
            {
            txt: "Можно с питомцами",
            class: ""
            }
          )
        div.ui-kit__section-inner_m 
          +checkbox(
            {
              name: "cbbox",
              value: "guest",
              id: "opt-guest",
              class: "",
              checked: 1,
            },
            {
            txt: "Можно пригласить гостей (до 10 человек)",
            class: ""
            }
          )
      section.ui-kit__section-vertical

      section.ui-kit__section-vertical
      section.ui-kit__section-vertical
      section.ui-kit__section-vertical

      section.section-horizont