doctype html
html(lang="ru")
  head
    include ../blocks/head/head.pug
    title ui form element
  body.page
    include ../blocks/ui-kit/__header/ui-kit__header.pug
    include ../blocks/input/input.pug
    include ../blocks/dropdown-input/dropdown-input.pug
    include ../blocks/checkbox/checkbox.pug
    include ../blocks/radiobutton/radiobutton.pug
    include ../blocks/toggle/toggle.pug
    include ../blocks/like-button/like-button.pug
    include ../blocks/rate-button/rate-button.pug
    include ../blocks/range-slider/range-slider.pug
    include ../blocks/date-dropdown/date-dropdown_single-range.pug
    include ../blocks/date-dropdown/date-dropdown_double-range.pug
    include ../blocks/subscribe/subscribe.pug
    include ../blocks/dropdown-checkbox/dropdown-checkbox.pug
    include ../blocks/rich-checkbox/rich-checkbox.pug
    include ../blocks/bullet-list/bullet-list.pug
    include ../blocks/room-info/room-info.pug
    include ../blocks/comment/comment.pug
    include ../blocks/button/button_border.pug
    main.ui-kit
      section.ui-kit__section-vertical
        div.ui-kit__section-inner_m 
          span.ui-kit__elemlnt-condition default
          +input(
            {
              type: "text",
              name:"",
              form:"",
              id: "email",
              txtlabel: "text field",
              classlabel: "label-cta",
              classinput: "input",
              placeholder: "Email",
            }
          )
        div.ui-kit__section-inner_m 
          span.ui-kit__elemlnt-condition hover/active
          +input(
            {
              type: "text",
              name:"",
              form:"",
              id: "active-field",
              txtlabel: "text field",
              classlabel: "label-cta",
              classinput: "input ui-kit__input-active",
              placeholder: "This is pretty awesome",
            }
          )
        div.ui-kit__section-inner_m 
          span.ui-kit__elemlnt-condition default
          +dropdown-input(
            "dropdown",
            "Сколько гостей",
            {
              adult: "взрослые",
              child: "дети",
              minichild: "младенцы",
            },
            ['очистить', 'применить']
          )
        .ui-kit__section-inner_m 
          +input-date_single-range(
            {
              name:"date-single-range",
              form:"form",
              id: "field-range-date",
              txtlabel: "masked text field",
              classlabel: "label-cta",
            }
          )
        .ui-kit__section-inner_m 
          +input-date_double-range(
            {
              form:"form",
              classlabel: "label-cta",
              firstfield:{
                name:"first-date-double-range",
                id: "first-field-range-date",
                txtlabel: "date dropdown",
              },
              secondfield:{
                name:"second-date-double-range",
                id: "second-field-range-date",
                txtlabel: "date dropdown",
              }
            }
          )
        .ui-kit__section-inner_m(style="width:265px")
          +input-date_single-range(
            {
              name:"date-single-range",
              form:"form",
              id: "field-range-date-filter",
              txtlabel: "filter date dropdown",
              classlabel: "label-cta",
            }
          )
        .ui-kit__section-inner_m(style="width:265px")
          p.label-cta subscription text field
          +subscribe-form (
            {
              action: '#',
              formName:"'subscribe'",
              inputName:'email'
            }
          )
      section.ui-kit__section-vertical
        div.ui-kit__section-inner_m 
          +checkbox(
            {
              name: "cbbox",
              value: "smoke",
              id: "opt-smoke",
              class: "",
              checked: 0,
            },
            {
            txt: "Можно курить",
            class: ""
            }
          )
          +checkbox(
            {
              name: "cbbox",
              value: "pet",
              id: "opt-pet",
              class: "",
              checked: 1,
            },
            {
            txt: "Можно с питомцами",
            class: ""
            }
          )
          +checkbox(
            {
              name: "cbbox",
              value: "guest",
              id: "opt-guest",
              class: "",
              checked: 1,
            },
            {
            txt: "Можно пригласить гостей (до 10 человек)",
            class: ""
            }
          )
        div.ui-kit__section-inner_m
          span.label-cta radio buttons
          br
          +radiobutton(
            {
              name: "gender",
              value: "man",
              id: "man",
              class: "",
              checked: 1,
            },
            {
            txt: "Мужчина",
            class: ""
            }
          )
          +radiobutton(
            {
              name: "gender",
              value: "woman",
              id: "woman",
              class: "",
              checked: 0,
            },
            {
            txt: "Женщина",
            class: "more label class"
            }
          )
        div.ui-kit__section-inner_m
          span.label-cta toggle
          br
          +toggle(
            {
              name: "toggle1",
              value: "sale",
              id: "spec-offer-da",
              class: "",
              checked: 1,
            },
            {
            txt: "Получать спец предложения",
            class: ""
            }
          )
          +toggle(
            {
              name: "toggle2",
              value: "sale",
              id: "spec-offer-net",
              class: "",
              checked: 0,
            },
            {
            txt: "Получать спец предложения",
            class: ""
            }
          )
        span.label-cta like button
        div.ui-kit__section-inner_m(style={display:'flex'})
          +like-button(0,2)
          div(style="width:10px;")
          +like-button(1,12)
        span.label-cta rate button
        div.ui-kit__section-inner_m.ui-kit__rate-line
          +rate-button(4)
          +rate-button(5)
      section.ui-kit__section-vertical
        .ui-kit__section-inner_m
          +range-slider('form', 'range-slider')
        .ui-kit__section-inner_m
          .label-cta buttons
          span(style="height:15px; display:block;")
          button(type="button" class="button button_fill") click me
          span(style="width:30px; display:inline-block;")
          button(type="button" class="button button_fill") click me
          span(style="height:30px; display:block;")
          +button_border('click me')
          span(style="width:30px; display:inline-block;")
          +button_border('click me')
          span(style="height:30px; display:block;")
          button(type="button" class="button button_lite") click me
          span(style="width:30px; display:inline-block;")
          button(type="button" class="button button_lite button_lite-gray") click me
          span(style="width:30px; display:inline-block;")
          button(type="button" class="button button_fill button_pointer") перейти к оплате
          span(style="width:30px; display:inline-block;")
        .ui-kit__section-inner_m
          .label-cta pagination
          .pagination
            .pagination-list
              a.pagination-list__item.pagination-list__item_active 1
              a.pagination-list__item 2
              a.pagination-list__item 3
              a.pagination-list__item ...
              a.pagination-list__item 15
              a.pagination-list__item.pagination-list__pointer
            p.pagination-txt 1 – 12 из 100+ вариантов аренды
      div(style="height:100px; width:100%")
      section.ui-kit__section-vertical
        .ui-kit__section-inner_m(style="width:265px")
          +dropdown-input(
            "dropdown",
            "удобства",
            {
              bedroom: "спальни",
              bed: "кровати",
              bathroom: "ванные комнаты"
            },
            []
          )
        .ui-kit__section-inner_m(style="width:265px")
          +dropdown-input(
            "dropdown",
            "удобства",
            {
              bedroom: "спальни",
              bed: "кровати",
              bathroom: "ванные комнаты"
            },
            []
          )
        .ui-kit__section-inner_m(style="width:265px")
          +dropdown-checkbox(
            'check',
            'sheck-dd1-triger-id',
            'expandable checkbox list',
            {
              dinner: "Завтрак",
              writeTable: "Письменный стол",
              feedingСhair: "Стул для комления",
              crib: "Кроватка",
              tv: "Телевизор",
              shampoo: "Шампунь",
              moreTv: "Телевизор",
              moreShampoo: "Шампунь",
            }
          )
        .ui-kit__section-inner_m(style="width:265px")
          +dropdown-checkbox(
            'check',
            'sheck-dd2-triger-id',
            'expandable checkbox list',
            {
              dinner: "Завтрак",
              writeTable: "Письменный стол",
              feedingСhair: "Стул для комления",
              crib: "Кроватка",
              tv: "Телевизор",
              shampoo: "Шампунь",
              moreTv: "Телевизор",
              moreShampoo: "Шампунь",
            }
          )
        div(style="height:200px;")
      section.ui-kit__section-vertical
        +dropdown-input(
            "dropdown",
            {
              adult: "взрослые",
              child: "дети",
              minichild: "младенцы",
            },
            ['применить'],
            'check',
            '11',
            'Сколько гостей'
          )
        div(style="height:200px;")
        .ui-kit__section-inner_m(style="width:265px")
          p.label-cta rich Checkbox Buttons
          +rich-checkbox(
            {
              name: "large-hall",
              value: "large-hall",
              id: "hall",
            },
            {
            label: "Широкий коридор",
            description: "Ширина коридоров в номере не менее 91 см.",
            }
          )
          +rich-checkbox(
            {
              name: "disabled-assistant",
              value: "disabled-assistant",
              id: "disabled-assistant",
            },
            {
            label: "Помощник для инвалидов",
            description: "На 1 этаже вас встретит специалист  и проводит до номера.",
            }
          )
      section.ui-kit__section-vertical
        +dropdown-input(
            "dropdown",
            "Сколько гостей",
            {
              adult: "взрослые",
              child: "дети",
              minichild: "младенцы",
            },
            ['очистить', 'применить']
          )
        div(style="height:200px;")
        p.label-cta bullet list
        +bullet-list(["Нельзя с питомцами",
                      "Без вечеринок и мероприятий",
                      "Время прибытия — после 13:00,а выезд до 12:00"])
      section.section-horizont
        div(style="width:280px;")
          +room-info({комфорт:"Шумопоглощающие стены",
                    удобство:"Окно в каждой из спален"})
        div(style="width:720px")
          +comment(
            {author: 'Мурад Сарафанов',
            date: '5 дней назад',
            photo: 'murad.png'},
            [1,12],
            'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
          )