include ../radiobutton/radiobutton.pug
include ../toggle/toggle.pug

form.form(action="#" name="join" id="join" method="get")
  p.title Регистрация аккаунта
  fieldset.form__inner
    input(type="text" name="name" placeholder="Имя" class="input")
    input(type="text" name="surname" placeholder="Фамилия" class="input")
    +radiobutton(
      {
        name: "gender",
        value: "man",
        id: "man",
        class: "",
        checked: 1,
      },
      {
      txt: "Мужчина",
      class: ""
      }
    )
    +radiobutton(
      {
        name: "gender",
        value: "woman",
        id: "woman",
        class: "",
        checked: 0,
      },
      {
      txt: "Женщина",
      class: ""
      }
    )
  fieldset.form__inner
    span.label-cta дата рождения
    input(class="input" type="text" name="birthday" placeholder="ДД.ММ.ГГГГ")
  fieldset.form__inner
    span.label-cta данные для входа на сервер
    input(class="input" type="text" name="email" placeholder="Email")
    input(class="input" type="password" name="password" placeholder="Пароль")
    +toggle(
      {
        name: "subscribe",
        value: "subscribe",
        id: "subscribe-toggle",
        class: "",
        checked: 0,
      },
      {
      txt: "Получать спецпредложения",
      class: ""
      }
    )
  <button class="button button_fill button_pointer" type="submit">перейти к оплате</button>
  .form__footer
    p Уже есть аккаунт на Toxin
    a(href="#" class="button button_border") войти