include ../input/input.pug

mixin expand-triger(labelClass, id, labelText)
  +input(
    {
      type: "checkbox",
      id: "triger" +id,
      txtlabel: labelText,
      classinput: "expand-triger",
      classlabel: `expand-triger__label expand-triger__label_${labelClass}`,
    }
  )



//- +expand-triger('check||burger||pointer', '1', 'Сколько гостей')