mixin expand-triger(labelClass, id, labelText)
  input(type="checkbox"
    class="expand-triger"
    id="triger" +id
    )
  label(for= "triger" +id
    class=`expand-triger__label expand-triger__label_${labelClass}`
    )= labelText


//- +expand-triger('check||burger||pointer', 'unique id', 'triger txt')