.comment{

  &__inner {
    display: flex;
    margin: 10px 0;
  }

  &__author-foto {
    margin-right: 10px;
    line-height: 0;
  }

  &__like {
    margin: 0 15px 0 5px;
  }

  &__txt {
    margin: 0;
  }
}