.landing {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5em 9em 2em;
  box-sizing: border-box;
  height: 830px;
  background: bottom url(img/background/landing-bg.jpg);
  &__text {
    align-self: flex-end;
    text-align: right;
  }

}