mixin dropdown-input__item(item)
  each label, name in item
    div.dropdown-input__item
      p= label
      div.dropdown-input__item-inner
        button.dropdown-input__item-minus.dropdown-input__item-button
        input(type="text", name=name, class="dropdown-input__item-count" value="0")
        button.dropdown-input__item-plus.dropdown-input__item-button


//- +dropdown-input__item(
//-   {
//-     adult: "взрослые",
//-     child: "дети",
//-   }
//- )