.dropdown-input__item-list {
  @extend .input;
  padding-right: 7px;
  height: auto;
  position: absolute;
  left: -1px;
  top: 100%;
  border-radius: 0 0 4px 4px;
  border-color: $dark_shade_50;
  display: none;
}

.expand-triger:checked ~ .dropdown-input__item-list {
  display: block;
}