.lSSlideOuter {
  position: relative;
}

.lSSlideOuter .lSPager.lSpg {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.lSSlideOuter .lSPager.lSpg > li {
  padding: 0 3px;
}

.lSSlideOuter .lSPager.lSpg > li a {
  box-sizing: border-box;
  background: none;
  border: 1px solid white;
}

.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background: white;
}