@import './lightslider-rewrite.scss';

.room-card {
  width: 270px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 10px 20px $dark_shade_05;
}

.room-card__head {
  display: flex;
  align-items: flex-end;
}

.room-card__number {
  font-weight: bold;
  color: $title-color;
}

.room-card__inner {
  padding: 20px;
}

.room-card__class-room {
  @extend .label-cta;
  padding-left: 5px;
  line-height: 24px;
  color: $main-color;
}

.room-card__price {
  margin-left: auto;
}

.room-card__price-txt {
  font-size: 12px;
}

.room-card__line {
  margin: 10px 0;
  width: 100%;
  border-top: 1px solid $dark_shade_05;
}

.room-card__rating {
  display: flex;
  justify-content: space-between;
}