.room {
  display: flex;
  justify-content: space-between;
  padding: 4.8% 9.6%;
  border-bottom: 1px solid $dark_shade_25;

  &__description {
    padding-right: 2%;
  }

  &__book-form {
    margin-bottom: 30px;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    max-width: 290px;
    margin-right: auto;
  }

  &__comment {
    max-width: 710px;

    &-title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__conditions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__rules {
    max-width: 290px;
    
    &_title_buletlist {
      padding-left: 1.1em;
    }
  }

  &__cansel {
    max-width: 340px;
  }
}

@media (max-width: 960px) {
  .room {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}