.room {
  display: flex;
  justify-content: space-between;
  padding: 70px 140px;
  border-bottom: 1px solid $dark_shade_25;

  &__description-title {
    margin: 30px 0 20px;
  }

  &__details {
    display: flex;
    
    & h2 {
      margin-top: 0;
    }
  }

  &__info {
    max-width: 290px;
  }

  &__vote {
    margin: 0 auto;
  }

  &__comment {
    max-width: 710px;

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__conditions {
    display: flex;
    justify-content: space-between;
  }

  &__rules {
    max-width: 290px;
  }

  &__cansel {
    max-width: 340px;
  }
}