.dropdown-input__item-count {
  width: 30px;
  height: 30px;
  color: $title-color;
  font-weight: bold;
  text-align: center;
  border: none;
}

@import './dropdown-input__item-count_minus.scss';
@import './dropdown-input__item-count_plus.scss';