.dropdown-input__item-count_minus {
  width: 30px;
  height: 30px;
  border: 1px solid $dark_shade_50;
  border-radius: 50%;
  position: relative;
}

.dropdown-input__item-count_minus:before{
  content: '';
  width: 6px;
  position: absolute;
  top: 15px;
  border-top: 1px solid $text-color;
  left: 12px;
}