$dark_shade_100: rgba(31, 32, 65, 1);
$dark_shade_075: rgba(31, 32, 65, 0.75);
$dark_shade_050: rgba(31, 32, 65, 0.5);
$dark_shade_025: rgba(31, 32, 65, 0.25);
$dark_shade_005: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

// Fonts
@import './common.blocks/fonts/quicksand/quicksand.scss';
@import './common.blocks/fonts/montserrat/montserrat.scss';

// Common blocks
@import './common.blocks/page/page.scss';
@import './common.blocks/form/form.scss';
@import './common.blocks/input/input.scss';

// Project blocks
@import './project.blocks/dropdown-input/dropdown-input.scss';



// UI Kit
@import './project.blocks/ui.page/header-ui/header-ui.scss';
@import './project.blocks/ui.page/ui-kit.scss';