$dark_shade_100: rgba(31, 32, 65, 1);
$dark_shade_075: rgba(31, 32, 65, 0.75);
$dark_shade_050: rgba(31, 32, 65, 0.5);
$dark_shade_025: rgba(31, 32, 65, 0.25);
$dark_shade_005: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$font-family-main: 'Montserrat';
$font-family-second: 'Quicksand';

// Fonts
@import './blocks/fonts/quicksand/quicksand.scss';
@import './blocks/fonts/montserrat/montserrat.scss';

// Common blocks
@import './blocks/page/page.scss';
@import './blocks/form/form.scss';
@import './blocks/input/input.scss';
@import './blocks/checkbox/checkbox.scss';
@import './blocks/radiobutton/radiobutton.scss';
@import './blocks/toggle/toggle.scss';

// Project blocks
@import './blocks/dropdown-input/dropdown-input.scss';
@import './blocks/expand-triger/expand-triger.scss';
@import './blocks/like-button/like-button.scss';
@import './blocks/rate-button/rate-button.scss';


// UI Kit
// @import './blocks/ui.page/header-ui/header-ui.scss';
@import './blocks/ui-kit/ui-kit.scss';