doctype html
html(lang="ru")
  head
    include ./common.blocks/head/head.pug
    title ui form element
  body
    include ./project.blocks/header-ui/header-ui.pug
    
    main
      section
        div
          label(for="email") textfield
          span.condition default
        input(type="text" id="email" placeholder="Email")
      section
      section