@import '../../../src/blocks/ui-kit/__header/ui-kit__header.scss';
@import '../../../src/blocks/ui-kit/__section-vertical/ui-kit__section-vertical.scss';
@import '../../../src/blocks/ui-kit/__input-active/ui-kit__input-active.scss';
@import '../../../src/blocks/ui-kit/__element-condition/ui-kit__element-condition.scss';
@import '../../../src/blocks/ui-kit/__section-inner/_m/ui-kit__section-inner_m.scss';
@import './__rate-line/ui-kit__rate-line.scss';
@import './__type/ui-kit__type.scss';
@import './__color/ui-kit__color.scss';
@import './__section-horizont';

.ui-kit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 23px 141px 130px;
  width: 1440px;
  box-sizing: border-box;
}