@font-face {
	font-family: 'Montserrat';
  src:local('Montserrat'),
      url('../src/blocks/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
      url('../src/blocks/fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
      url('../src/blocks/fonts/montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
  font-style: normal;
}