mixin like-button(active,count)
  - 
    let buttonMod =''
    buttonMod += active ? '_active' : ''

  div(class='like-button' + buttonMod)
    .like-button__inner
      div(class='like-button__favorite' + buttonMod)
      .like-button__count= count

//- +like-button(1,12)