include ../../../common.blocks/input/input.pug
mixin dropdown-list(item, button)
  div.dropdown__list
    each label, name in item
      div.dropdown__list-item
        div.form__input-label= label
        .dropdown__list-item-count
          .dropdown__list-item-count-minus
          +input(
            {
              type: "tetx",
              name: name,
              form:"",
            }
          )(
            class="dropdown__input-count"
            placeholder="0"
          )
          .dropdown__list-item-count-plus
  if button
    .block-button
      each val in button
        button.dropdown-list__button= val



//- +dropdown-list(
//-   {
//-     adult: "Взрослые",
//-     child: "Дети"
//-   },
//-   ['очистить', 'применить']
//- )