mixin input-date_double-range(name, form)
  input(type="txt" form=form name=name+"-from" placeholder="ДД.ММ.ГГГГ" class="input date-dropdown_double-range")
  input(type="txt" form=form name=name+"-to" placeholder="ДД.ММ.ГГГГ" class="input date-dropdown_double-range")

//- +input-date_double-range('date-range', 'form')